.result-wrapper {
  width: 650px;
  height: 300px;
  float: left;
  margin-left: 35px;
  margin-top: 35px;
  text-align: left;
}

.student-editor {
  width: 650px;
  height: 300px;
  margin-top: 35px;
  float: right;
}

.text-field {
  width: 500;
  padding-left: 30;
}

.students-wrapper {
  margin: 10px;
  display: flex;
  flex-direction: row;
}
