.student-details {
  padding-left: 100px;
  padding-right: 100px;
}

.photo {
  float: left;
  margin-right: 50px;
}

.info {
  margin-bottom: 20px;
}

.all-evaluations {
  margin-bottom: 100px;
}

.evaluation-form {
  padding-left: 100px;
  padding-right: 100px;
}

.color-btns {
  float: left;
  width: 100px;
  margin-right: 50px;
}

.remark {
  margin-left: 200px;
}

.submit-action {
  margin-left: 200px;
}

.notice {
  font-size: 10px;
  font-style: italic;
  color: #808080;
}

.red:hover {
  width: 105%;
}

.yellow:hover {
  width: 105%;
}

.green:hover {
  width: 105%;
}

.selected {
  width: 125%
}
